<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Style stuff and title -->
    <title>clickme</title>
    <link rel="icon" href="web_content/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
    <link href="../style/signin.css" rel="stylesheet">
    <script type="text/javascript" src="../script/jquery-1.11.2.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        $('#btnSignIn').click(function(evt){
          evt.preventDefault();

          $.ajax({
            url: '/signin',
            type:'POST',
            success:function(response){
              console.log(response);
            },
            error:function(error){
              console.log(error);
            }
          })

        })
      })

     
    </script>

  </head>

  <body>

        <!-- Main site content-->
        <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" style="background-color:white;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar"  style="background-color:black;"></span>
                </button>
                <ul class="nav navbar-nav pull-left">
                    <li class="nav-item"><a class="navbar-brand" id="main_status" style="font-size:200%; background-color: transparent;display:inline-block;" href="/">clickme</a>
                    <li class="nav-item">
                        <a class="nav-link" style="background-color: transparent;" id="login_info"></a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse collapse-in" aria-expanded="true">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="/about">What's the point?</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="mailto:clickforai@gmail.com?Subject=clickme" target="_top">Contact us</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        <div class="container" style="width:100%; color:white;">
          <div class="row">
          <div class="inner cover">
            <h1 class="cover-heading" style="text-align:center;">ClickMe</h1>
            <p style="text-align:center;"><em>A web-based application for exploring the atoms of object recognition.</em></p>
            <br>
            <p style="text-align:left">Rapid advances in Artificial Intelligence (AI) over recent years have allowed computers to see the world much like humans. This has supported a variety of new technologies that are about to change how we live our lives, from Facebook’s automated face recognition and Google’s image search to Tesla’s self-driving cars. Despite great progress, there still exists a major gap between how humans and machines perceive the world. Our group has found that humans and modern AI algorithms rely on different object parts when recognizing objects.
            <br>
            <p style="text-align:center"><img src="/web_content/realization_example.png" height=120 width=280></p>
            <p style="text-align:center"><b>Different parts of objects are important to humans than AI during object recognition.</b></p>
            <p style="text-align:left">The figure above shows what parts of an image are most informative for people vs. AI algorithms when trying to judge the category of an object in an image. This example illustrates the fact that humans and our chosen AI algorithm rely on different sources of information: the glasses’ frames seem to be most helpful  for humans whereas the lenses seem most useful for the AI algorithm. This suggests that teaching the AI algorithm to focus on the same information as humans may offer a path towards the design of smarter seeing machines.</p><br>
            <p style="text-align:center"><b>clickme is a game that provides us with data to bridge the gap between AI and human object recognition.</b></p><br>
            <p style="text-align:left">Every time you play clickme you provide researchers with information about what image locations are relevant to the human visual system when assessing category information. We use this data in the following ways:</p>
            <ol><li style="text-align:left">To train the AI algorithm to act more human-like when identifying important image parts.</li><li style="text-align:left">To measure the extent to which human-like identification improves the object recognition capability of modern AI algorithms.</li></ol></p><br>
            <hr><br>  <!-- //arxiv.org/abs/1701.02704   <b>Our findings, discussed in our [<a href="https://arxiv.org">arXiv</a>] suggest that this approach will significantly improve the performance of computers for recognizing objects in images.</b></p> See below for a graph updated daily showing how AI improves at object recognition when it is forced to pay attention to the same information as humans.</p><br>
--> 
            </div>
            <!--
            <div class="inner cover">
              <h1 class="cover-heading" style="text-align:center;">Tracking the progress of AI recognition</h1>
              <p>Here we record the accuracy of an AI algorithm (VGG 16) in recognizing images from a large database of object images (ImageNet). The trace in red is accuracy of a typical VGG 16, and the trace in blue is what happens to its recognition accuracy after it is trained to pay attention to the same parts of objects as humans.<br><br>
              <canvas id="myChart" width="500" height="200"></canvas>
            </div>
            <hr><br>
            -->
            <div class="inner cover">
              <!--
              <h1 class="cover-heading" style="text-align:center;">Clicktionary game data</h1>
              <ul>
              <li style="text-align:left"><a href="/web_content/experiment_1.tar.gz">Experiment 1</li>
              <li style="text-align:left"><a href="/web_content/experiment_2.tar.gz">Experiment 2</li>
              <li style="text-align:left"><a href="/web_content/experiment_3.tar.gz">Experiment 3</li>
              </ul>
              <br><br>
              -->

              <h1 class="cover-heading" style="text-align:center;">ClickMe game data</h1>
              <ul>
              <li style="text-align:left"><a href="/web_content/clickme_train.zip">Training set</a></li>
              <li style="text-align:left"><a href="/web_content/clickme_val.zip">Validation set</a></li>
              <li style="text-align:left"><a href="/web_content/clickme_test.zip">Test set</a></li>

              <a href="/web_content/baseline.tgz" style="visibility: hidden">baseline</a>
              <a href="/web_content/length9.tgz" style="visibility: hidden">9</a>
              <a href="/web_content/length14.tgz" style="visibility: hidden">14</a>
              <a href="/web_content/clickme_ckpts.zip" style="visibility: hidden">clickme_checkpoints</a>

              <!--<li style="text-align:left">Or use our google cloud TFRecords of a combined dataset with ClickMe and the rest of the ILSVRC12: <a href="gs://serrelab-public/clickme">GS link</a></li>-->
              </ul>
              <br><br>

            </div>
          </div>
        </div>
      </div>
    <!-- Footer script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="../script/about.js" type="text/javascript"></script>
  </body>
</html>
