
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- js links -->
    <script src="../script/jquery-1.11.2.js" type="text/javascript"></script>
    <script src="../script/home.js" type="text/javascript"></script>
    <script src="../script/smoothscroll.js" type="text/javascript"></script>
    <script src="../script/chroma.js" type="text/javascript"></script>

    <!-- Style stuff and title -->
    <title>CLICKTIONARY</title>
    <link rel="icon" href="web_content/favicon.ico" />

    <!-- Bootstrap core -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet" />

  </head>

  <body>
	<div id="gradient" />
        <!-- Modals -->
        <div id="scoreModal" class="modal fade">
            <div class="modal-dialog" style="text-align:left">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Highest-scoring players this month</h4>
                        <dl id='scoreboard_time_1'>Amazon gift cards awarded to the top-5 Clicktionares on 1/1/2017 at 5:00PM ET in the following amounts:</dl>
                            <dt>1st place: $50</dt>
                            <dt>2nd place: $40</dt>
                            <dt>3rd place: $30</dt>
                            <dt>4th place: $20</dt>
                            <dt>5th place: $10</dt>
                        </dl>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead><tr><th>Place</th><th>Name</th><th>Score</th></tr></thead>
                            <tbody id="high_scores"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="text" id="update_email_text" style="float:left;width:315px;" placeholder="Enter your email so we can contact you if you win.">
                        <button type="button" id="update_email" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-dismiss="modal" title="Click here to update your email address on file with what you type into the box on the left.">Update email address</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="instructionModal" class="modal fade">
            <div class="modal-dialog" style="text-align:left">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">CLICKTIONARY</h2>
                        <h4 class="modal-title">Game instructions</h4>
                    </div>
                    <div class="modal-body" style="text-align:left;">
                        <div class="legal well">
                            <p>Welcome to CLICKTIONARY, where you and an artificial intelligence (AI) partner will play to win prizes and provide the research community with valuable information about differences between how humans and machines see the world.</p>
                            <p><strong>Goal: </strong>The goal of the game is to help your AI partner recognize as many object images as possible with as much confidence as possible.</p>
                            <p><strong>Gameplay: </strong>You will help your partner recognize objects by revealing parts of images to it. This is done by "painting" over parts of the object image that help you recognize it. When you click on the image this begins your "brush stroke". After that you simply drag your cursor over the other parts of the image you think are important. These image parts will be revealed to your AI partner as you paint over them. Your AI partner's guesses are shown in the "AI score" graph. The green bar shows its confidence in the correct answer, the red bar in the incorrect answer. As soon as the green bar is greater than the red bar the round ends and you receive points. If the red timer elapses before then you will not receive points.</p> 
                            <p><strong>Scoring: </strong>For every image that you and your partner answer correctly you will receive a score of how confident the AI was in that answer. This means that clicking on more "informative" image parts will help your score grow quickly. On the first day of every month we will provide prizes to the top scoring participants. You are automatically assigned a username. If you have not yet given us your email, please enter it below so that we can reward you if you win.</p>
			</div>
                    </div>
                    <div class="modal-footer" style="text-align:center;">
                        <dl id='scoreboard_time_2'>Amazon gift cards awarded to the top-5 Clicktionares on 1/1/2017 at 5:00PM ET in the following amounts:</dl>
                            <dt>1st place: $50</dt>
                            <dt>2nd place: $40</dt>
                            <dt>3rd place: $30</dt>
                            <dt>4th place: $20</dt>
                            <dt>5th place: $10</dt>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <input type="text" id="update_email_text" style="float:left;width:315px;" placeholder="Enter your email so we can contact you if you win.">
                        <button type="button" id="update_email" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-dismiss="modal" title="Click here to update your email address on file with what you type into the box on the left.">Update email address</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="consentModal" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">We need your consent to use your data to develop better AI</h4>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <div class="legal well">
                            <p><strong> Purpose of the research: </strong> You are being asked to participate in a Brown University research study to measure human performance in visual recognition tasks. In this experiment, we seek to gain a basic understanding of how the visual system rapidly interprets and organizes visual scenes.

                            <p><strong> Inclusion criteria: </strong> You must be 18 years or older to participate in this experiment. You must be a native English speaker.

                            <p><strong> Behavioral Procedures: </strong> The task involves viewing images and responding based on instructions you will receive shortly.
                                
                            <p><strong> Time required: </strong> less than 30 minutes.

                            <p><strong> Benefits: </strong> Although there are no direct benefits for the participants in the current study, results may improve our knowledge of the how the brain processes visual objects and scenes.

                            <p><strong> <em> Compensation: You must complete the entire experiment to receive compensation for your participation. </em> </strong>

                            <p><strong> Participant Risks: </strong> There are no anticipated risks for the participants in the current study.

                            <p><strong> Confidentiality: </strong> Your participation in this study is confidential. By signing this document, you permit us to use anonymized information for scientific purposes including teaching and/or publication.

                            <p><strong> Participation and Withdrawal: </strong> You do not have to participate, and you are free to withdraw at any time during the course of the study by closing the browser.

                            <p> <strong> Contact: </strong> If you have questions or concerns about this research, please contact

                            <p> Thomas Serre
                            <br>
                            Manning Assistant Professor
                            <br>
                            Department of Cognitive, Linguistic & Psychological Sciences
                            <br>
                            PO Box 1820, Brown University
                            <br>
                            Providence, RI 02912
                            <br>
                            <tt>serre.lab@gmail.com</tt>

                            <p> Who to contact about your rights in this research, for questions, concerns, suggestions, or complaints that are not being addressed by the researcher, or research-related harm:    
                                    <p>
                                    Brown University Human Research Protection Program
                                    <br>
                                    Box 1986
                                    <br>
                                    Brown University
                                    <br>
                                    tel: (401) 863-3050
                                    <br>
                                    toll-free: (866) 309-2095
                                    <br>
                                    </p>
                                By clicking 'I agree' below indicates that you have understood the information about the experiment and consent to your participation. The participation is voluntary and you may refuse to answer certain questions on the questionnaire and withdraw from the study at any time with no penalty. This does not waive your legal rights. You can print a copy of the consent form or save this browser window for your own record. If you have further questions related to this research, please contact the researcher.
                            </p>

                            <button type="button" class="btn btn-default btn-sm center-block" onClick="window.print();">
                            <span class="glyphicon glyphicon-print"></span> Print a copy of this
                            </button>
                        </div>

                        <hr>
                        <h4>Do you understand and consent to these terms?</h4>
                    </div>
                    <div class="modal-footer">
                        <input type="text" id="email" style="float:left;width:245px;" placeholder="Enter your email here before agreeing.">
                        <button type="button" id="agree" class="btn btn-success disabled" data-toggle="tooltip" data-placement="top" data-dismiss="modal" title="We need your email in order to contact you if you win a prize!">I agree</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='http://google.com';">Get me out of here!</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main site content-->
        <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" style="background-color:white;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar"  style="background-color:black;"></span>
                </button>
                <ul class="nav navbar-nav pull-left">
                    <!-- <li class="nav-item" id="manbot"><a class="navbar-brand" style="font-size:200%; background-color: transparent;display:inline-block;" href="#"><span style="background-image: url(web_content/favicon.ico); background-position:left center; background-repeat: no-repeat; padding-left: 40px; padding-right:5px; padding-bottom:20px;"></span><span style="padding-top:20px;">  |  CLICKTIONARY</span></a></li> -->
                    <li class="nav-item">
                        <a class="navbar-brand" id="main_status" style="font-size:200%; background-color: transparent;display:inline-block;" href="#">CLICKTIONARY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background-color: transparent;" id="login_info"></a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse collapse-in" aria-expanded="true">
            <ul class="nav navbar-nav pull-right">
                <!--<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/about">What's the point?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="instruction-modal" href="#" target="_top">Instructions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="scoreboard-modal" href="#">Scoreboard</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        <div class="container">
            <div class="row">
                <!-- Main area -->
                    <div class="inner cover" style="margin-top:-30px;text-align:center;">
                        <h2 class="lead" id="spammer" style="color:white;">Help the AI recognize this image before time runs out!</h2>
                        <p style="font-size:66%;margin-top:-20px;color:white;" id="next_prize">The top-5 scoring players by --  win a gift-card! See the Scoreboard tab for details.</p>
                        <hr width="50%" style="margin-top:-5px">
                        <p class="lead">
                            <p id="extra_info" style="font-size:66%;color:white;margin-top:-12px">Click and then brush with your mouse to reveal image parts best describing a:</p>
                            <h2 class="lead" style="margin-top:-12px;margin-bottom:-10px;" id="image_label"></h2>
                        </p>
                        <canvas id="myCanvas" width="256" height="256" style="z:10000;text-align:center;margin-bottom:15px;"></canvas>
                        <p style="margin-top:-20px;"><span style="color:white;font-size:50%;">100 pts </span><a id='progressbar' style="margin-top:-20px;"></a><span style="color:white;font-size:50%;"> 0 pts</span></p>
                        <!--<canvas id="ppChart" style="margin-left:-50px; margin-top:-10px;" width="300" height="60"></canvas></p>-->
                        <p id="text_feedback" style="color:white;margin-top:-15px;">_____</p>
                        <button type="button" style="height:20px;font-size:66%;margin-top:0px;margin-bottom:5px;line-height:5px;" class="btn btn-secondary" id="skip_button" data-toggle="tooltip" data-placement="top" title="Careful, this may deduct points from your score."><b>Skip this image</b>: it has a strange label or poor quality.</button>
                        <hr width="256px;" style="margin-top:0px;"> 
                        <!--<p class="lead" style="color:white;">Status</p> -->
                        <p class="lead" style="margin-top:-20px;"><small id='click_count' style="color:white;">Your score: 0</small>&emsp;|&emsp;<small id='click_high_score' style="color:white;">Today's high score: 0</small>
                        <br>
                        <em style="font-size:50%;">Number of images needed until we can improve this AI's recognition.</em><br>
                        <canvas id="myChart" style="margin-left:-50px" width="300" height="60"></canvas></p>
                    </div>
            </div>
        </div>

      <!--</div>
    </div>-->
    <div id="image_id" style="display: none;"></div>
    <!-- Footer script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="../script/mirc_charts.js" type="text/javascript"></script> 
    <script src="../script/progressbar.js" type="text/javascript"></script>
  </body>

</html>
