
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- js links -->
    <script src="../script/jquery-1.11.2.js" type="text/javascript"></script>
    <script src="../script/home.js" type="text/javascript"></script>
 
   <!-- Style stuff and title -->
    <title>MIRC click app</title>
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">CLICKTIONARY</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/about">What's the point?</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" style="margin-top:110px;margin-bottom:200px;">
            <h2 class="lead" id="spammer"></h2
            <p class="lead"><em>Click on the part of the image that best describes</em>:
            <h1 class="lead" style="margin-top:-25px;margin-bottom:-25px;" id="image_label"></h1></p>
            <canvas id="myCanvas" width="256" height="256" style="z:10000"></canvas>
            <p class="lead"><small id='click_count'>Your consecutive clicks: 0</small>&emsp;|&emsp;<small id='click_high_score'>Today's high score: 0</small></p>
            <canvas id="myChart" width="500" height="200"></canvas>
            <br><br>
            <p>[by <a href="http://serre-lab.clps.brown.edu/">The Serre Lab</a>.]</p>
          </div>

        </div>


      </div>

    </div>
    <div id="image_id" style="display: none;">
    <!-- Footer script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="../script/mirc_charts.js" type="text/javascript"></script> 
  </body>
</html>
